binds {
    // Use spawn-sh to run a shell command. Do this if you need pipes, multiple commands, etc.
    // Note: the entire command goes as a single argument. It's passed verbatim to `sh -c`.
    // For example, this is a standard bind to toggle the screen reader (orca).
    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    // "-l 1.0" limits the volume to 100%.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // Example brightness key mappings for brightnessctl.
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // help
    Super+Shift+Slash { show-hotkey-overlay; }

    // call sh or ipc command
    // noctalia-shell ipc ref: https://docs.noctalia.dev/getting-started/keybinds/#available-commands
    Super+Semicolon hotkey-overlay-title="Terminal: alacritty (tmux)" { spawn "alacritty" "-e" "/bin/sh" "-c" "tmux attach || tmux"; }
    Super+Shift+Semicolon hotkey-overlay-title="Terminal: alacritty" { spawn "alacritty" "-e" "/bin/zsh"; }
    Super+O hotkey-overlay-title="Explorer: Dolphin" { spawn "dolphin"; }
    Ctrl+Space hotkey-overlay-title="Launcher" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Super+Backspace hotkey-overlay-title="Power Menu" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }
    Ctrl+Alt+Delete hotkey-overlay-title="Logout" { quit skip-confirmation=true; }
    Super+Delete allow-when-locked=true hotkey-overlay-title="Lock / Power Off" { 
        spawn-sh "if loginctl show-session $XDG_SESSION_ID | grep -q 'LockedHint=yes'; then niri msg action power-off-monitors; else qs -c noctalia-shell ipc call lockScreen lock && sleep 5 && niri msg action power-off-monitors; fi"
    }

    // overview
    Super+Tab repeat=false { toggle-overview; }

    // close window
    Super+grave repeat=false { close-window; }
    Super+W repeat=false { close-window; }

    // windows focus
    Super+H     { focus-column-left; }
    Super+J     { focus-window-or-workspace-down; }
    Super+K     { focus-window-or-workspace-up; }
    Super+L     { focus-column-right; }
    Super+Left  { focus-column-left; }
    Super+Down  { focus-window-or-workspace-down; }
    Super+Up    { focus-window-or-workspace-up; }
    Super+Right { focus-column-right; }
    Super+Home { focus-column-first; }
    Super+End  { focus-column-last; }

    // windows movement
    Super+Shift+H     { move-column-left; }
    Super+Shift+J     { move-window-down-or-to-workspace-down; }
    Super+Shift+K     { move-window-up-or-to-workspace-up; }
    Super+Shift+L     { move-column-right; }
    Super+Shift+Left  { move-column-left; }
    Super+Shift+Down  { move-window-down-or-to-workspace-down; }
    Super+Shift+Up    { move-window-up-or-to-workspace-up; }
    Super+Shift+Right  { move-column-right; }
    Super+Shift+Home { move-column-to-first; }
    Super+Shift+End  { move-column-to-last; }
    
    // workspace movement
    Super+Page_Down      { focus-workspace-down; }
    Super+Page_Up        { focus-workspace-up; }
    Super+Shift+Page_Down      { move-workspace-down; }
    Super+Shift+Page_Up        { move-workspace-up; }

    // jump workspace
    Super+1 { focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3; }
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }
    Super+6 { focus-workspace 6; }
    Super+7 { focus-workspace 7; }
    Super+8 { focus-workspace 8; }
    Super+9 { focus-workspace 9; }

    // adjust windows
    Super+Ctrl+H { set-column-width "-5%"; }
    Super+Ctrl+L { set-column-width "+5%"; }
    Super+Ctrl+K { set-window-height "-5%"; }
    Super+Ctrl+J { set-window-height "+5%"; }
    Super+Ctrl+Backslash { switch-preset-column-width; }
    Super+Ctrl+Minus { switch-preset-window-height; }
    Super+R { reset-window-height; }
    Super+M { maximize-column; }
    Super+F { fullscreen-window; }
    Super+Shift+F { maximize-window-to-edges; }

    // adjust layout
    Super+BracketLeft  { consume-or-expel-window-left; }
    Super+BracketRight { consume-or-expel-window-right; }
    Super+Comma  { consume-window-into-column; }
    Super+Period { expel-window-from-column; }
    Super+Return { center-visible-columns; }
    Super+Shift+Return { center-column; }
    Super+V       { toggle-window-floating; }
    Super+Shift+V { switch-focus-between-floating-and-tiling; }
    Super+T { toggle-column-tabbed-display; }
    Super+G { expand-column-to-available-width; }

    // actions
    Super+P { screenshot; }
    Super+Shift+P { screenshot-screen; }
    Super+Shift+Ctrl+P { screenshot-window; }
}

