// Input device configuration
input {
    keyboard {
        // Enable numlock on startup
        numlock
    }

    // mouse 
    mouse {
        // move the content, not the viewport
        natural-scroll
    }

    // Focus windows and outputs automatically when moving the mouse into them.
    focus-follows-mouse max-scroll-amount="0%"
}

