[Unit]
Description=OBS Dash
After=graphical-session.target

[Service]
Type=exec
# Replace with absolute paths
ExecStart=%h/.local/bin/obs-dash run
Restart=always
RestartSec=1
# Ensures logs show up immediately
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=graphical-session.target
