[Desktop Entry]
Version=1.0
Type=Application
Name={{ Text You Want to See in Launcher }}
Comment=Open Google Chrome with this profile
Exec=/opt/google/chrome/google-chrome-kwallet --profile-directory="{{ Profile Path in chrome://version }}"
Icon=google-chrome
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=google;chrome;stable
