# kwallet
[Unit]
Description=Unlock kwallet from pam credentials
BindsTo=niri.service

[Service]
ExecStart=/usr/lib/pam_kwallet_init
Type=simple
Slice=background.slice
Restart=no

[Install]
WantedBy=niri.service
