binds {
    // help
    Super+F1 { show-hotkey-overlay; }

    // media
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // brightness
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // exec programs
    Super+Semicolon hotkey-overlay-title="Terminal: Kitty (tmux)" {
        spawn-sh "kitty -e /bin/zsh -c 'tmux attach || tmux' & sleep 0.2 && niri msg action center-visible-columns";
    }
    Super+Shift+Semicolon hotkey-overlay-title="Terminal: Kitty" {
        spawn-sh "kitty -e /bin/zsh & sleep 0.2 && niri msg action center-visible-columns";
    }
    Super+O hotkey-overlay-title="Explorer: Dolphin" {
        spawn-sh "dolphin & sleep 0.2 && niri msg action center-visible-columns";
    }
    Super+Shift+Slash hotkey-overlay-title="Explorer: Yazi" {
        spawn-sh "kitty -e /bin/zsh -c 'yazi' & sleep 0.2 && niri msg action center-visible-columns";
    }
    Super+Slash hotkey-overlay-title="Explorer: Yazi (float)" {
        spawn-sh "kitty --class yazi-float -e /bin/zsh -c 'yazi' & sleep 0.2  && niri msg action center-visible-columns";
    }
    Super+Y hotkey-overlay-title="YouTube" {
        spawn-sh "gtk-launch chrome-YouTube & sleep 0.2 && niri msg action center-visible-columns";
    }
    Super+I hotkey-overlay-title="Chrome Browser" {
        spawn-sh "gtk-launch chrome-default & sleep 0.2 && niri msg action center-visible-columns";
    }
    Super+S hotkey-overlay-title="Steam (with Mangohud)" {
        spawn-sh "notify-send -t 3000 'Steam' 'Launching Steam (with MangoHUD) ...' && gtk-launch steam-with-mangohud & sleep 1.0 && niri msg action center-visible-columns";
    }
    Ctrl+Space hotkey-overlay-title="Launcher" {
        spawn-sh "qs -c noctalia-shell ipc call launcher toggle";
    }
    Super+V hotkey-overlay-title="Clipboard" {
        spawn-sh "qs -c noctalia-shell ipc call launcher clipboard";
    }
    Super+Backspace hotkey-overlay-title="Power Menu" {
        spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle";
    }
    Super+Delete allow-when-locked=true hotkey-overlay-title="Lock / Power Off" { 
        spawn-sh "if loginctl show-session $XDG_SESSION_ID | grep -q 'LockedHint=yes'; then niri msg action power-off-monitors; else qs -c noctalia-shell ipc call lockScreen lock && sleep 5 && niri msg action power-off-monitors; fi"
    }
    Ctrl+Alt+Delete hotkey-overlay-title="Logout" {
        quit skip-confirmation=true;
    }

    // overview
    Super+Tab repeat=false { toggle-overview; }

    // close window
    Super+Grave repeat=false { spawn-sh "niri.with-center close-window"; }
    Super+W repeat=false     { spawn-sh "niri.with-center close-window"; }

    // windows focus
    Super+H     { spawn-sh "niri.with-center focus-column-left"; }
    Super+J     { spawn-sh "niri.with-center focus-window-or-workspace-down"; }
    Super+K     { spawn-sh "niri.with-center focus-window-or-workspace-up"; }
    Super+L     { spawn-sh "niri.with-center focus-column-right"; }
    Super+Left  { spawn-sh "niri.with-center focus-column-left"; }
    Super+Down  { spawn-sh "niri.with-center focus-window-or-workspace-down"; }
    Super+Up    { spawn-sh "niri.with-center focus-window-or-workspace-up"; }
    Super+Right { spawn-sh "niri.with-center focus-column-right"; }
    Super+Home  { spawn-sh "niri.with-center focus-column-first"; }
    Super+End   { spawn-sh "niri.with-center focus-column-last"; }

    // viewport scrolling like
    Super+Alt+H     { spawn-sh "niri.with-center-one focus-column-left"; }
    Super+Alt+J     { spawn-sh "niri.with-center-one focus-workspace-down"; }
    Super+Alt+K     { spawn-sh "niri.with-center-one focus-workspace-up"; }
    Super+Alt+L     { spawn-sh "niri.with-center-one focus-column-right"; }
    Super+Alt+Left  { spawn-sh "niri.with-center-one focus-column-left"; }
    Super+Alt+Down  { spawn-sh "niri.with-center-one focus-window-or-workspace-down"; }
    Super+Alt+Up    { spawn-sh "niri.with-center-one focus-window-or-workspace-up"; }
    Super+Alt+Right { spawn-sh "niri.with-center-one focus-column-right"; }

    // windows movement
    Super+Shift+H     { spawn-sh "niri.with-center move-column-left"; }
    Super+Shift+J     { spawn-sh "niri.with-center-one move-column-to-workspace-down"; }
    Super+Shift+K     { spawn-sh "niri.with-center-one move-column-to-workspace-up"; }
    Super+Shift+L     { spawn-sh "niri.with-center move-column-right"; }
    Super+Shift+Down  { spawn-sh "niri.with-center move-window-down"; }
    Super+Shift+Up    { spawn-sh "niri.with-center move-window-up"; }
    Super+Shift+Home  { spawn-sh "niri.with-center move-column-to-first"; }
    Super+Shift+End   { spawn-sh "niri.with-center move-column-to-last"; }
    
    // workspace movement
    Super+BracketRight         { focus-workspace-down; }
    Super+BracketLeft          { focus-workspace-up; }
    Super+Shift+BracketRight   { move-workspace-down; }
    Super+Shift+BracketLeft    { move-workspace-up; }

    // jump workspace
    Super+1 { focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3; }
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }
    Super+6 { focus-workspace 6; }
    Super+7 { focus-workspace 7; }
    Super+8 { focus-workspace 8; }
    Super+9 { focus-workspace 9; }

    // adjust windows
    Super+Ctrl+H { spawn-sh "niri.with-center set-column-width \"-5%\""; }
    Super+Ctrl+L { spawn-sh "niri.with-center set-column-width \"+5%\""; }
    Super+Ctrl+K { spawn-sh "niri.with-center set-window-height \"-5%\""; }
    Super+Ctrl+J { spawn-sh "niri.with-center set-window-height \"+5%\""; }
    Super+Ctrl+Backslash { spawn-sh "niri.with-center switch-preset-column-width"; }
    Super+Ctrl+Minus     { spawn-sh "niri.with-center switch-preset-window-height"; }
    Super+M       { spawn-sh "niri.with-center maximize-column"; }
    Super+F       { spawn-sh "niri.with-center fullscreen-window"; }
    Super+Shift+F { spawn-sh "niri.with-center maximize-window-to-edges"; }
    Super+R { reset-window-height; }

    // adjust layout
    Super+Return             { center-column; }
    Super+Alt+Return         { center-visible-columns; }
    Super+Comma              { spawn-sh "niri.with-center consume-window-into-column"; }
    Super+Period             { spawn-sh "niri.do expel-window-from-column focus-column-right focus-column-left center-visible-columns"; }
    Super+Shift+Comma        { spawn-sh "niri.with-center consume-or-expel-window-left"; }
    Super+Shift+Period       { spawn-sh "niri.with-center consume-or-expel-window-right"; }
    Super+A                  { spawn-sh "niri.with-center toggle-window-floating"; }
    Super+Shift+V            { spawn-sh "niri.with-center switch-focus-between-floating-and-tiling"; }
    Super+U                  { toggle-column-tabbed-display; }
    Super+G                  { expand-column-to-available-width; }

    // actions
    Super+P { screenshot; }
    Super+Shift+P { screenshot-screen; }
    Super+Shift+Ctrl+P { screenshot-window; }
}

// Special binds
// https://niri-wm.github.io/niri/Configuration%3A-Recent-Windows.html#binds
recent-windows {
    // only keep Alt+Tab/Alt+Shift+Tab
    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        // free Alt+Grave and Alt+Shift+Grave
    }
}

