// noctalia shell
spawn-at-startup "qs" "-c" "noctalia-shell"

// kwallet
spawn-at-startup "/usr/lib/pam_kwallet_init" 

// enable auth agent (fix sudo mount in dolphin)
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"

// proper display x11 tray icon (fix the little white box issue)
spawn-at-startup "xembedsniproxy"

// kded service
// WARNING: kded6 will break noctalia-shell's tray icon widget
// spawn-at-startup "kded6" 

// help box
hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
    hide-not-bound
}

// hide app window frame
// prefer-no-csd

// screenshots
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// envs
environment {
    // system
    // QT_QPA_PLATFORM "wayland"
    // theme
    // 1. must be set 'kde' for chrome to auto pick kwallet to unloak
    // 2. need to load before niri for some interface e.g. cachy-os konsole to work, use the environment.d/niri-kde install script to setup
    // QT_QPA_PLATFORMTHEME "kde"
    // QT_QPA_PLATFORMTHEME_QT6 "kde"
    // XDG_MENU_PREFIX "plasma-"
    // enable mangohud globally (Vulkan only)
    // BUG: Don't enable this flag, this will crash some game, e.g. Proton-GE 9.0, Assetto Corsa Content Manager launch game will fail 
    // MANGOHUD "1"
}

