// layout
layout {
    // background color
    background-color "transparent"

    // operation
    empty-workspace-above-first

    // centering behavior
    center-focused-column "never"
    always-center-single-column

    // width presets
    preset-column-widths {
        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.75
        proportion 1.0
    }

    // height presets
    preset-window-heights { 
        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.75
        proportion 1.0
    }

    // default window width
    default-column-width {
        proportion 0.45;
    }

    // focus-ring
    focus-ring {
        // How many logical pixels the ring extends out from the windows.
        width 4

        // Color of the ring on the active monitor.
        active-color "#7fc8ff"

        // Color of the ring on inactive monitors.
        inactive-color "#505050"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Uncomment the next line to enable shadows.
        // on

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }

    // tabs
    default-column-display "tabbed"

    // tab indicator
    tab-indicator {
        position "right"
        width 16
        corner-radius 8
        gap 10
        gaps-between-tabs 10
        length total-proportion=0.5
        place-within-column
        hide-when-single-tab
    }
}

// mouse cursor
cursor {
    // style
    xcursor-theme "Breeze_Light"
    xcursor-size 40

    // hide cursor
    hide-when-typing
}

// Animation settings.
animations {
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 2.0
}


// prettify window and border
window-rule  {
    geometry-corner-radius 10
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

// all windows slightly transparent, exception some app that has their own transparent configs
window-rule {
    // Alacritty
    exclude app-id="Alacritty"
    exclude app-id="kitty"
    opacity 0.95
}
