[Desktop Entry]
Type=Application
Name=Pixel Crosshair (Green)
Comment=Enable Pixel Crosshair Overlay
Exec=systemctl --user start pixel-crosshair@00ff00.service
Icon=pixel-crosshair.png
Terminal=false
Categories=Game;Utility;
