[Desktop Entry]
Type=Application
Name=Pixel Crosshair - Stop
Comment=Disable Pixel Crosshair Overlay
Exec=systemctl --user stop "pixel-crosshair@*.service"
Icon=pixel-crosshair-bw.png
Terminal=false
Categories=Game;Utility;
