[Desktop Entry]
Type=Application
Name=Pixel Crosshair (Cyan)
Comment=Enable Pixel Crosshair Overlay
Exec=systemctl --user start pixel-crosshair@00ffff.service
Icon=pixel-crosshair.png
Terminal=false
Categories=Game;Utility;
