[Desktop Entry]
Type=Application
Name=Pixel Crosshair - Cycle Color
Comment=Enable Pixel Crosshair Overlay
Exec=pixel-crosshair-cycle-colors
Icon=pixel-crosshair.png
Terminal=false
Categories=Game;Utility;
